aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
autobahn==21.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
copra==1.2.9
cryptography==36.0.0
frozenlist==1.2.0
gevent==21.8.0
greenlet==1.1.2
hyperlink==21.0.0
idna==3.3
multidict==5.2.0
pycparser==2.21
python-dateutil==2.8.2
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
txaio==21.2.1
typing-extensions==4.0.1
urllib3==1.26.7
websocket==0.2.1
yarl==1.7.2
zope.event==4.5.0
zope.interface==5.4.0
